@(amenities : List[Amenity])
@doctype.render
<html lang="en">
    <head>
        <title>Amenities</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
            <div class="container">
                <a class="navbar-brand" href="home">
                    <img src="/assets/images/centennial-valley-logo-2.png" alt="" height="55px" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="course">The Course</a>
                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> Amenities </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="restaurant">Restaurant</a>
                                <a class="dropdown-item" href="fitnesscenter">Fitness Center</a>
                                <a class="dropdown-item" href="pool">Pool</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="memberlist">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productlist">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactinfo">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h1>Amenities</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Amenity</th>
                        <th>Open Hours</th>
                    </tr>
                </thead>
                @for(amenity<-amenities){
                <tr class="small">
                    <td>@amenity.getAmenityName</td>
                    <td>@amenity.getOpenHours</td>
                </tr>
                }
            </table>
        </div>
    </body>
</html>