@(holes : List[Hole])
@doctype.render
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>The Course</title>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50?text=Logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="course">The Course</a>
                        </li>
                        <li class="dropdown">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> Amenities </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="restaurant">Restaurant</a>
                                <a class="dropdown-item" href="fitnesscenter">Fitness Center</a>
                                <a class="dropdown-item" href="pool">Pool</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="memberlist">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productlist">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactinfo">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
        </div>
        <!-- /.container -->
        <div class="container">
            <h1>Holes</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Hole Number</th>
                        <th>Par</th>
                        <th>Red Tee Length</th>
                        <th>Gold Tee Length</th>
                        <th>White Tee Length</th>
                        <th>Blue Tee Length</th>
                        <th>Black Tee Length</th>
                        <th>Mens Handicap</th>
                        <th>Womens Handicap</th>
                        <th>Hole Description</th>
                    </tr>
                </thead>
                @for(hole<-holes){
                <tr class="small">
                    <td>@hole.getHoleNumber</td>
                    <td>@hole.getPar</td>
                    <td>@hole.getRedTeeLength</td>
                    <td>@hole.getGoldTeeLength</td>
                    <td>@hole.getWhiteTeeLength</td>
                    <td>@hole.getBlueTeeLength</td>
                    <td>@hole.getBlackTeeLength</td>
                    <td>@hole.getMensHandicap</td>
                    <td>@hole.getWomensHandicap</td>
                    <td>@hole.getDescription</td>
                </tr>
                }
            </table>
        </div>
    </body>
</html>
