@(temp : String, speed : String)
@doctype.render
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/jquery/jquery.min.js"></script>
        <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

        <!-- <style>
   /* Make the image fully responsive */
   .carousel-inner img {
       width: 100%;
       height: 250px;
       object-fit: cover
   }

         </style>-->
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
            <div class="container">
                <a class="navbar-brand" href="home">
                    <img src="/assets/images/centennial-valley-logo-2.png" alt="" height="55px" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="course">The Course</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Amenities</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="restaurant">Restaurant</a>
                                <a class="dropdown-item" href="fitnesscenter">Fitness Center</a>
                                <a class="dropdown-item" href="pool">Pool</a>
                                <a class="dropdown-item" href="amenity">Amenity Hours</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="memberlist">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productlist">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactinfo">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div align="right">
                <p>Current Temperature: @temp° F </p>
                <p>Wind Speed: @speed MPH</p>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">
            <center>
                <h1 class="mt-4">Centennial Valley Country Club</h1>
            </center>
        </div>
        <!-- /.container -->
        <div id="golfCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#golfCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#golfCarouse2" data-slide-to="1"></li>
                <li data-target="#golfCarouse3" data-slide-to="2"></li>
            </ol>

            <!-- The slideshow -->
            <center>
                <div class="container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <img src="/assets/images/centennial-valley-home.jpg" alt="Centennial1" width="1100"
                                 height="300">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/centennial-vally-home-2.jpg" alt="Centennial2" width="1100"
                                 height="300">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/centennial-valley-home-4.jpg" alt="Centennial3" width="1100"
                                 height="300">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#golfCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#golfCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </center>
        </div>
    </body>
</html>
