@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Member Sign Up</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>New Member Sign Up</h2>
            <br/>
            <form method="post">@helper.CSRF.formField
                <input type="text" name="lastName"><label> Last Name</label>
                <br/>
                <input type="text" name="firstName"><label> First Name</label>
                <br/>
                <input type="text" name="address"><label> Address</label>
                <br/>
                <input type="text" name="city"><label> City</label>
                <br/>
                <input type="text" name="stateId"><label> State</label>
                <br/>
                <input type="text" name="phoneNumber"><label> Phone Number</label>
                <br/>
                <input type="text" name="dateJoined"><label> Date Joined</label>
                <br/>
                <input type="text" name="handicap"><label> Handicap</label>
                <br/>
                <input type="text" name="membershipId"><label> Membership Id</label>
                <br/>
                <input type="submit" value="save">
            </form>
        </div>
    </body>
</html>