@doctype.render
<html lang="en">
    <head>
        <title>Membership Information</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/jquery/jquery.min.js"></script>
        <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

        <!-- <style>
   /* Make the image fully responsive */
   .carousel-inner img {
       width: 100%;
       height: 250px;
       object-fit: cover
   }

         </style>-->
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
            <div class="container">
                <a class="navbar-brand" href="home">
                    <img src="/assets/images/centennial-valley-logo-2.png" alt="" height="55px" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="course">Golf Course</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Amenities</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="restaurant">Restaurant</a>
                                <a class="dropdown-item" href="fitnesscenter">Fitness Center</a>
                                <a class="dropdown-item" href="pool">Pool</a>
                                <a class="dropdown-item" href="amenity">Amenity Hours</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productlist">Golf Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactinfo">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Page Content -->

        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">

                    <h4 align="center"><b>What we offer</b></h4>
                    <small>
                        <ul>
                            <li>Five Sets of Tee Boxes offering challenge and pleasure to golfers of all ability
                                levels.
                            </li>
                            <li>Driving Range and Short Game Practice Area</li>
                            <li>Men’s and Ladies’ Golf Associations</li>
                            <li>Junior Golf Programs</li>
                            <li>Fully-Stocked Pro Shop for Clothing and Equipment Needs</li>
                            <li>Large Swimming Pool Area and Sun Deck, featuring swimming and sports pools, as well as a
                                covered wading pool for small children.
                            </li>
                            <li>Large Patio Areas with beautiful golf course views.</li>
                            <li>Luxurious 9600 sq. ft. Clubhouse</li>
                            <li>19th Hole Grill & Restaurant</li>
                            <li>State-of-the-Art Fitness Center which includes fitness classes, cardiovascular and
                                weight training equipment.
                            </li>
                            <li>Men’s & Ladies Locker Rooms/Showers</li>
                            <li>Event and Conference Center</li>
                        </ul>
                    </small>

                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-8">
                    <h2>Full Membership</h2>
                    <h5>$245/ month</h5>
                    <p>Full privileges for applicant, spouse, and all unmarried, dependent children under age 21, living
                        at home.</p>
                    <br>

                    <h2>Corporate Membership</h2>
                    <h5>$245/ month</h5>
                    <p>Full privileges for individual officers or staff of a Company or Corporation. Memberships are
                        assigned to an individual, belong to the Company, and are transferable. The family of a member
                        will be covered under the membership.</p>
                    <br/>

                    <h2>Junior Membership</h2>
                    <h5>$165/month</h5>
                    <p>Ages thirty four and under</p>
                    <br/>

                    <h2>Senior Membership</h2>
                    <h5>$245/month</h5>
                    <p>Fifty-five and over. </p>
                    <br/>

                    <h2>Social Membership</h2>
                    <h5>$35/year</h5>
                    <p>Social membership offers dining privileges to applicant, spouse, & all unmarried, dependent
                        children under the age of 21 living at home.</p>
                </div>
            </div>
        </div>
    </body>
</html>
