@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Product</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
            <div class="container">
                <a class="navbar-brand" href="home">
                    <img src="/assets/images/centennial-valley-logo-2.png" alt="" height="55px" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="course">Golf Course</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Amenities</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="restaurant">Restaurant</a>
                                <a class="dropdown-item" href="fitnesscenter">Fitness Center</a>
                                <a class="dropdown-item" href="pool">Pool</a>
                                <a class="dropdown-item" href="amenity">Amenity Hours</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productlist">Golf Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactinfo">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Admin Tools:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="memberlist">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="memberadd">Member Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders">Orders</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="productadd">Store</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <h2>Add Product</h2>
            <br/>
            <form method="post">@helper.CSRF.formField
                <input type="text" name="productName"><label> Product Name</label>
                <br/>
                <input type="text" name="price"><label> Price</label>
                <br/>
                <input type="text" name="brand"><label> Brand</label>
                <br/>
                <input type="text" name="category"><label> Category</label>
                <br/>
                <input type="submit" value="save">
            </form>
        </div>
    </body>
</html>