@(amenities : List[Amenity])
@doctype.render
<html lang="en">
    <head>
        <title>19th Hole Bar & Grill</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/jquery/jquery.min.js"></script>
        <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

        </style>
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
            <div class="container">
                <a class="navbar-brand" href="home">
                    <img src="/assets/images/centennial-valley-logo-2.png" alt="" height="55px" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="course">Golf Course</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Amenities</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="restaurant">Restaurant</a>
                                <a class="dropdown-item" href="fitnesscenter">Fitness Center</a>
                                <a class="dropdown-item" href="pool">Pool</a>
                                <a class="dropdown-item" href="amenity">Amenity Hours</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="memberlist">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productlist">Golf Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactinfo">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <center>
                <h2>19th Hole Bar & Grill</h2>
            </center>
            <div class="row">
                <div class="column" style="background-color: white;">
                    <img src="/assets/images/nineteenthHoleRestaurant.jpg" alt="Centennial1" width="500" height="300">
                </div>
                <div class="column" style="background-color: white;">
                    <h3>Open Hours</h3>

                    <p>Monday: 11:00 a.m. - 10:00 p.m.</p>
                    <p>Tuesday thru Saturday: 11:00 a.m. - 10:00 p.m. </p>
                    <p>Sunday: 11:00 a.m. - 8:00 p.m.</p>

                    <h4>Phone: (501) 513-2528</h4>

                    <a href="restaurantmenu" class="btn btn-info" role="button">Menu</a>

                </div>
            </div>
        </div>
    </body>
</html>